body{
  background: #eee;
  background: black;
  position: relative;
}
#clickbtn{
  float: right;
  margin-right: 18px;
  margin-top: 2px;
  width: 42px;
  padding: 10px 20px 10px 20px;
  background-color: #FFA800;
}
#msg-container {
  display: block;
  float: left;
  width: 800px;
}
.message{
  color: red;
  display: none;
  float: right;
  padding-top: 10px;
  text-align: center;
  width: 312px;
}
#options {
  text-align: center;
  height: 45px;
}

#container {
  width: 100%;
  height: 800px;
  margin: 10px auto;
}

#filters, #layouts {
  /*display: none;*/
  margin: 10px;
}

#loader_img {
	visibility: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: inline;
}
.legend{
  color: silver;
}
.span{
  color: silver;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;  
}
#searchField,
#datasource, #layout_type, #nodesizeby{
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  width:180px;
}
#filters{
  float: left;
  width: 600px;
}
#layouts{
  float: left;
  width: 600px;
}

.slider-fieldset{
  float: left;
  margin: 10px;
  width: 1244px;
  height:120px;
}
.load-container{
  position:relative;
}
.load-container img{
  height: 25px;
  position: absolute;
  right: 120px;
  top: 256px;
  width: 25px;
}
#neighborcount{
  float: left;
  width:414px;
}
#pagerank{
  float: left;
  width:414px;
}
#nodecentrality{
  float:left;
  width:414px;
}
.n-label{
  color:silver;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5px;
  width:100%;
  text-align:center;
}
.p-label{
  color:silver;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5px;
  width:100%;
  text-align:center;
}
.no-label{
  color:silver;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5px;
  width:100%;
  text-align:center;
}
.main-fieldset .slider-container .back-bar .pointer-label {
  background: lightgreen none repeat scroll 0 0;
  color: black;
  font-size: 15px;
  padding: 4px;
  top: -25px;
}
.main-fieldset .slider-container .scale ins {
  font-size:15px;
}
.main-fieldset {
  padding-left: 19px !important;
}
.slider-container{
  margin:0 auto;
}

#nodeInfoPanel {
  min-width: 200px;
  z-index: 20;
  display: block;
  margin-left: 2px;
  margin-top: 4px;
  position: absolute;
}
#nodeInfoPanel div#nodeInfo{
  display: none;
  min-width: 170px;
  min-height: 180px;
  float: left;
  background: #FFF;
  padding: 2px;
}

#nodeInfoPanel a#nodeInfoShowHide {
  display: inline-block;
  float: left;
  font-size: 50px;
  padding-left: 4px;
  margin: 0;
  line-height: 20px;
}

#submitQueryFormShowHide, .submitQueryFormShowHideDiv {
  width: 30px;
  display: block;
  float: right;
  padding-top: 2px;
  margin: 0;
  line-height: 20px;
}

.submitQueryFormShowHideDiv {
  width: 100px;

}

#submitQueryFormShowHide {
  width: 30px;
  right: 0px;
  position: absolute;
  z-index: 20;
  padding-top: 2px;
  margin: 0;
  line-height: 20px;
}
/*button {
  display: inline-block;
  float: left;
}*/

div#nodeInfo h3{
  min-width: 170px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: calibri;
  border-bottom: 1px solid #ccc;
}
#nodeInfoTable {
  width: 100%;
}
#onflychangesapply {
  color: #fff;
  font-weight: normal;

}
#onflychangesapply input {
  margin-left: 9px;
}

/******************************* CSS for chrome only ********************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {

	.load-container img {
		top: 248px;
		right:107px;
	}
	.slider-fieldset {
		width: 1248px;
	}
	#clickbtn {
		margin-right: 15px;
	}
}