<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Good Thymes Virtual Grocery</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Graph Paths</h1>
<ul>
<li><b>localhost:8080</b></li>
<p>-By inserting this URL it will show you the default page or information page.</p>

<li><b>localhost:8080/graph</b></li>
<p>-it will show you the sigma graph that uses the twitter hash tags.</p>
</ul>
<h1>Config File</h1>
<p>you can use the config file by using -conf config.json</p>
config file has two basic settings:
<ul>
<li><b>Layout Settings:</b></li>
<p>Layout settings defines what alogrithm graph should use and what should be the shape of graph.</p>
<li><b>App Settings:</b></li>
<p>App settings defines the source of data and the port on which sever listen to the requests.</p>
</ul>
<h1>iFrame/Direct</h1>
<p>If you want to directly display the graph you can can insert the URL in web browser.</p>
<p>The other way to display the graph is by using iframe. Make html page using iframe and iframe should requested to url localhost:8080/graph.</p>
</body>

</html>